<app-menu-gral></app-menu-gral>
<div class="d-flex justify-content-center mt-3">
    <button class="btn-principal btn-quizz">LISTADO DE LOS JUEGOS</button>
</div>
<div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <app-spinner></app-spinner>
</div>
<div *ngIf="listJuegos.length > 0 && !loading" class="container">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Juego</th>
                                <th>Fecha</th>
                                <th>Puntaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listJuegos">
                                <td>{{ item.uemailJuego }}</td>
                                <td>{{ item.nombreJuego }}</td>
                                <td>{{ item.fechaJuego }}</td>
                                <td>{{ item.puntajeJuego }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="listJuegos.length == 0 && !loading" class="conteiner">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h5>No hay listado para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<app-pie-gral></app-pie-gral>