.conteiner{
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    background-size: 85% auto;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .parrafoPropio{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;  
    font-family: 'Montserrat', sans-serif;
}