<app-menu-gral></app-menu-gral>
<div class="conteiner"> 
    <h1 class="titulo">COARASA Walter Alberto</h1>
    <h4 class="titulo"> Legajo N° 102099</h4>
    <img src="../assets/quiensoy/Wally.jpg" alt="Foto Wally" width="92" height="92">
    <br>
    <div class="parrafoPropio anchoP">
        Explicación del juego propio "Jugando como se escribe": <br>
        El jugador visualizara una bandera junto a una palabra en castellano. El objetivo del jugador 
        es adivinar como se ecribe dicha palabra en el idiona de la bandera. Se le presenta varias
        opciones que pueda elegir, selecciona la correcta se festeja. Gana el juego si obtine 3 puntos.
    </div>
</div>
<app-pie-gral></app-pie-gral>