<footer class="container py-2">
    <div class="row">
      <div class="col-4 col-md link-dark">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg> -->
        <small>&copy; {{anio}}</small>
      </div>
      <div class="col-1 col-md">
        <img src="../../../assets/utn/UTN.jpg" width="40px" height="40px">
      </div>
      <div class="col-2 col-md">  
        <h5>Laboratorio IV</h5>
      </div>
      <div class="col-3 col-md link-light">
        <h5>Turno Noche</h5>
      </div>
    </div>
</footer>